.container {
    background-color: yellow;
    position: absolute;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;

  }
  
  .boxgrün {
    width: 30px;
    height: 30px;
    background-color: green;
    margin-right: 20px;
    margin-top: 30px;
  }
  
  .boxblau {
    background-color: lightblue;
    width: 400px;
    height: 300px;
    padding: 20px;
    position: absolute;
    margin-top: 300px;
  }
  
  .right {
    display: flex;
    flex-direction: column;
    width: 150px;
    padding: 20px;
  }
  
  .brown-box {
    background-color: brown;
    width: 100px;
    height: 50px;
  }
  
  .purple-box {
    background-color: purple;
    width: 100px;
    height: 100px;
  }