.Header {
    width: 90%;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    height: 200px;
    margin-top: 50px;
    margin-left: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box {
    border: 2px solid black;
    height: 100px;
    width: 100px;
}

.boxes {
    display: flex;
    align-items: flex-start;
    height: 400px;
    width: 90%;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 5%;
    padding-right: 10px;


}


.box1 {
    height: 400px;
    border: 2px solid black;
    display: flex;
    width: 700px;
}

@media (max-width:1000px) {
    body {
        background-color: white;
    }

    .Header {
        height: 500px;
        width: 100px;
        display: flex;
        flex-direction: column;
        background-color: white;
        border: 0px;
        padding: 10px;

    }

    .box {
        border: 2px solid black;
        height: 100px;
        width: 100px;
        padding: 10px;
    }

    .boxes {
        display: flex;
        height: 700px;
        width: 100px;
        flex-direction: column;
        justify-content: space-around;
    }

    .box1 {
        height: 300px;
        border: 2px solid black;
        display: flex;
        width: 500px;
    }
}