.Header {
    width: 90%;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    height: 200px;
    background-color: antiquewhite;
    margin-top: 50px;
    margin-left: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box {
    border: 2px solid black;
    height: 100px;
    width: 100px;
}

.boxes {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 400px;
    width: 90%;
    margin-top: 50px;
    margin-left: 5%;

}

.boxes .box1 {
    height: 100%;
    width: calc(50% - 20px);
    border: 2px solid black;
    background-color: lightblue;
}